tensorflow==2.9.3
keras==2.0.8
scipy==1.4.1
pandas
mysqlclient
PyMySQL
flask
flask-sqlalchemy
flask-restful
flask-cors
flask-socketio
passlib
pytest
Pillow
cython
matplotlib
scikit-image
opencv-python
h5py
imgaug
seaborn
IPython[all]