numpy==1.18.5
scipy==1.4.1
pandas
mysqlclient
PyMySQL
flask
flask-sqlalchemy
flask-restful
flask-cors
pytest
Pillow
cython
matplotlib
scikit-image
tensorflow
keras
opencv-python
h5py
imgaug
seaborn
IPython[all]